@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", serif;
}

.home-page {
  margin: 2.5rem;
}

@media (max-width: 768px) {
  .home-page {
    flex-wrap: wrap;
    margin: 1rem;
  }
}
